


{% if not form.vars.valid %}
    {% for child in form.children %}
        {%for error in child.vars.errors%}
        <div class="alert alert-sm alert-danger alert-dismissible fade show " role="alert">
          <strong>{{error.message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {%endfor%}
    {%endfor%}
{%endif%}

<div class="form-group">
  {{ form_label(form.fournisseur, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_widget(form.fournisseur ,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
  {{ form_label(form.dateCreation, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_widget(form.dateCreation ,{'attr': {'class': 'form-control', 'data-format': "dd/MM/yyyy"} }) }}
</div>
<hr />
<label class="font-weight-bold">Produits Arrivés :</label>
<div class="row clearfix">
  <div class="col-md-12 table-responsive">
    <table class="table table-bordered table-hover table-sortable" id="tab_logic" data-index="{{form.elementArrivages.children|length}}">
      <thead>
        <tr >
          <th class="text-center" style="min-width:120px">
            Produit
          </th>
          <th class="text-center" style="width:150px">
            Quantite
          </th>
          <th class="text-center">
            Vendu
          </th>
          <th class="text-center">
            Perdu
          </th>
          <th class="text-center">
            Restant
          </th>
          <!-- <th class="text-center">
            Prix Unit
          </th> -->
          <!-- <th class="text-center">
            Montant
          </th> -->
          <th class="text-center">
            Entrant
          </th>
          <th class="text-center" style="border-top:none;border-right:none">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id='prototype' class="d-none">
          <td data-name="name">
            {{ form_widget(form.elementArrivages.vars.prototype.produit, {'attr': {'class': 'form-control'}}) }}
          </td>
          <td data-name="mail">
            <!-- <input type="text" name='mail0' placeholder='Email' class="form-control"/> -->
              {{ form_widget(form.elementArrivages.vars.prototype.quantite, {'attr': {'class': 'form-control quantite'}}) }}
          </td>
          <td class="btn-success text-center font-weight-bold vendu">0</td>
          <td class="btn-danger text-center font-weight-bold perdu">0</td>
          <td class="btn-warning text-center font-weight-bold restant">0</td>
          {#
          <!-- <td data-name="desc">
            <div class="input-group">
              {{ form_widget(form.elementArrivages.vars.prototype.prixUnit, {'attr': {'class': 'form-control prixUnit'}}) }}
            <div class="input-group-append"><span class="input-group-text">D</span></div>
          </div>
          </td> -->
          <!-- <input type="number" required="required" min="0" scale="3" step="0.001" placeholder="0.000" class="form-control montant" disabled> -->
          <!-- <td data-name="sel">
            <div class="input-group">
                {{ form_widget(form.elementArrivages.vars.prototype.montant, {'attr': {'class': 'form-control montant', 'readonly':'readonly', "value":0}}) }}
              <div class="input-group-append"><span class="input-group-text">D</span></div>
            </div>
          </td> -->#}
          <td class="btn-info text-center font-weight-bold">0</td>
          <td data-name="del">
            <button class="btn btn-danger item row-remove" type="button">
            <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>
        {% set entrantGlobal = 0 %}
        {% for detail in form.elementArrivages %}
        <tr data-id="{{loop.index0}}">
          <td data-name="name">
            {{ form_widget(detail.produit, {'attr': {'class': 'form-control'}}) }}
          </td>
          <td data-name="mail">
            {% set min = attribute(arrivage.elementArrivages,loop.index0).quantiteVendu + attribute(arrivage.elementArrivages,loop.index0).totalPerdu %}
            {{ form_widget(detail.quantite, {'attr': {'class': 'form-control quantite', 'min':min}}) }}
          </td>
          <td class="btn-success text-center font-weight-bold vendu">
            {{ attribute(arrivage.elementArrivages,loop.index0).quantiteVendu }}
          </td>
          <td class="btn-danger text-center font-weight-bold perdu" >
            {{ attribute(arrivage.elementArrivages,loop.index0).totalPerdu }}
          </td>
          <td class="btn-warning text-center font-weight-bold restant" >
            {{ attribute(arrivage.elementArrivages,loop.index0).quantiteRestante }}
          </td>
          {#
          <!-- <td data-name="desc">
            <div class="input-group">
              {{ form_widget(detail.prixUnit, {'attr': {'class': 'form-control prixUnit'}}) }}
              <div class="input-group-append"><span class="input-group-text">D</span></div>
            </div>
          </td> -->
          <!-- <input type="number" required="required" min="0" scale="3" step="0.001" placeholder="0.000" class="form-control montant disabled"> -->
          <!-- <td data-name="sel">
            <div class="input-group">
                {{ form_widget(detail.montant, {'attr': {'class': 'form-control montant', 'readonly':'readonly'}}) }}
              <div class="input-group-append"><span class="input-group-text">D</span></div>
            </div>
          </td> -->
          #}
          {% set entrant = 0 %}
          {% for eltVente in attribute(arrivage.elementArrivages,loop.index0).elementsVente %}
            {% set entrant = entrant + eltVente.montant %}
            {% set entrantGlobal = entrantGlobal + entrant %}
          {% endfor %}
          {% set currentEltArrivage = attribute(arrivage.elementArrivages,loop.index0) %}
          {#
          <!-- {% set classEntrant = "btn-info" %}
          {% if currentEltArrivage.quantiteRestante == 0 %}
            {% if entrant >= currentEltArrivage.montant %}
              {% set classEntrant="btn-success" %}
            {% else %}
              {% set classEntrant="btn-danger" %}
            {% endif %}
          {% endif %} -->
          #}
          <td class="text-center font-weight-bold btn-info">{{entrant}}</td>
          <td data-name="del">
            <button class="btn btn-danger item row-remove" type="button">
            <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <!-- <td>
          <div class="input-group">
            <input id="montant" type="text" required="required" class="form-control" value="0" disabled>
            <div class="input-group-append"><span class="input-group-text">D</span></div>
          </div>
        </td> -->
        {#<!-- {% set classEntrantGlobal = "btn-danger" %}
        {% if  entrantGlobal >= arrivage.montant %}
          {% set classEntrantGlobal = "btn-success" %}
        {% endif %} -->#}
        <td class="text-center font-weight-bold btn-success" >{{entrantGlobal}}</td>
        <td>
          <button type="button" id="add_row" class='btn btn-primary'>
          <i class="fa fa-plus"></i>
          </button>
        </td>
      </tfoot>
    </table>
  </div>
</div>

<hr />

<div class="form-group">
  {{ form_label(form.note, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_widget(form.note ,{'attr': {'class': 'form-control'} }) }}
</div>

<hr />
