

<div class="form-group">
  {{ form_label(form.fournisseur, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_errors(form.fournisseur) }}
  {{ form_widget(form.fournisseur ,{'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
  {{ form_label(form.dateCreation, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_errors(form.dateCreation) }}
  {{ form_widget(form.dateCreation ,{'attr': {'class': 'form-control', 'data-format': "dd/MM/yyyy"} }) }}
</div>
<hr />
<label class="font-weight-bold">Produits Arrivés :</label>
<div class="row clearfix">
  <div class="col-md-12 table-responsive">
    <table class="table table-bordered table-hover table-sortable" id="tab_logic" data-index="{{form.elementArrivages.children|length}}">
      <thead>
        <tr >
          <th class="text-center" style="min-width:120px">
            Produit
          </th>
          <th class="text-center">
            Quantite
          </th>
          <th class="text-center">
            Prix Unit
          </th>
          <th class="text-center">
            Montant
          </th>
          <th class="text-center" style="border-top:none;border-right:none">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id='prototype' class="d-none">
          <td data-name="name">
            {{ form_widget(form.elementArrivages.vars.prototype.produit, {'attr': {'class': 'form-control'}}) }}
          </td>
          <td data-name="mail">
            <!-- <input type="text" name='mail0' placeholder='Email' class="form-control"/> -->
              {{ form_widget(form.elementArrivages.vars.prototype.quantite, {'attr': {'class': 'form-control'}}) }}
          </td>
          <td data-name="desc">
            <div class="input-group">
              {{ form_widget(form.elementArrivages.vars.prototype.prixVente, {'attr': {'class': 'form-control'}}) }}
            <div class="input-group-append"><span class="input-group-text">D</span></div>
          </div>
          </td>
          <td data-name="sel">
            <div class="input-group">
              {{ form_widget(form.elementArrivages.vars.prototype.prixAchat, {'attr': {'class': 'form-control montant'}}) }}
              <div class="input-group-append"><span class="input-group-text">D</span></div>
            </div>
          </td>
          <td data-name="del">
            <button class="btn btn-danger item row-remove" type="button">
            <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>
        {% for detail in form.elementArrivages %}
        <tr data-id="{{loop.index0}}">
          <td data-name="name">
            {{ form_widget(detail.produit, {'attr': {'class': 'form-control'}}) }}
          </td>
          <td data-name="mail">
            <!-- <input type="text" name='mail0' placeholder='Email' class="form-control"/> -->
            {{ form_widget(detail.quantite, {'attr': {'class': 'form-control'}}) }}
          </td>
          <td data-name="desc">
            <div class="input-group">
              {{ form_widget(detail.prixVente, {'attr': {'class': 'form-control'}}) }}
              <div class="input-group-append"><span class="input-group-text">D</span></div>
            </div>
          </td>
          <td data-name="sel">
            <div class="input-group">
              {{ form_widget(detail.prixAchat, {'attr': {'class': 'form-control montant'}}) }}
              <div class="input-group-append"><span class="input-group-text">D</span></div>
            </div>
          </td>
          <td data-name="del">
            <button class="btn btn-danger item row-remove" type="button">
            <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="input-group">
            <input id="montant" type="text" required="required" class="form-control" value="0" disabled>
            <div class="input-group-append"><span class="input-group-text">D</span></div>
          </div>
        </td>
        <td>
          <button type="button" id="add_row" class='btn btn-primary'>
          <i class="fa fa-plus"></i>
          </button>
        </td>
      </tfoot>
    </table>
  </div>
</div>

<hr />

<div class="form-group">
  {{ form_label(form.note, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_errors(form.note) }}
  {{ form_widget(form.note ,{'attr': {'class': 'form-control'} }) }}
</div>

<hr />
