.tile2{
  border-radius: 10px!important;
}

.lh30{
  line-height: 30px;
}

.checkyourmail{
  background-color: dimgrey;
  color:white;
  font-size: 17px;
  padding:10px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

.btn-table{
  padding-right: 1px;
  padding-top: 0px;
  padding-left: 6px;
  padding-bottom: 3px;
  margin:0px!important;
}

.btn-table-sm{
  height: 19px;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 4px;
  padding-bottom: 19px;
  margin: 0px 10px 0px 0px!important;
}

.btn-table-md-edit{
  padding-right: 6px;
  padding-top: 5px;
  padding-left: 12px;
  padding-bottom: 7px;
  margin: 0px!important;
  color:white;
  background: orange;
}

.btn-table-md-delete{
  padding-right: 8px;
  padding-top: 3px;
  padding-left: 13px;
  padding-bottom: 8px;
  margin: 0px!important;
  border: 2px solid red;
}


/* @media (max-width: 768px) {
  .btn-block-sm{
    display: block;
    width: 100%;
  }
} */

@media all and (max-width: 576px) {
  .btn-block-sm{
    display: block;
    width: 100%;
  }
}

.test{
  width: 100%;
  background: blue;
}

.test2{
  width: 100%;
  background: green;
}
/* @media (min-width: 634px) {
  .btn-block-sm{
    display: inline!important;
    width: auto!important;
  }
} */

.fa-fix{
  width:11px;
}

/* btn-edit */
.btn-edit-xs {
  color: white;
  background-color: chocolate;
  border-color: red;
}
.btn-edit-xs:hover {
  color: #FFF;
  background-color: orange ;
  border-color: black;
}
.btn-edit-xs:focus, .btn-edit.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
          box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
}

/* btn-edit */
.btn-edit {
  color: white;
  background-color: darkorange;
  border-color: chocolate;
}
.btn-edit:hover {
  color: #FFF;
  background-color: orange ;
  border-color: chocolate;
}
.btn-edit:focus, .btn-edit.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
          box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
}

.cadblue{
  background: lightsteelblue!important;
}

.tableData tbody tr:hover{
  background: #009688!important;
  color:white!important;
}
