
{#
<!-- <div class="form-group">
  {{ form_label(form.fournisseur, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_errors(form.fournisseur) }}
  {{ form_widget(form.fournisseur ,{'attr': {'class': 'form-control'} }) }}
</div> --> #}

{% if not form.vars.valid %}
    {% for child in form.children %}
        {%for error in child.vars.errors%}
        <div class="alert alert-sm alert-danger alert-dismissible fade show " role="alert">
          <strong>{{error.message}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {%endfor%}
    {%endfor%}
{%endif%}

<div class="form-group">
  {{ form_label(form.client, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_widget(form.client ,{'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
  {{ form_label(form.date, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_widget(form.date ,{'attr': {'class': 'form-control', 'data-format': "dd/MM/yyyy"} }) }}
</div>
<hr />
<label class="font-weight-bold">Produits Dispo :</label>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

        <div class="col-md-12">
            <div class="card">
                <!-- <div class="card-header">
                    <strong class="card-title lh30">Liste des Ventes</strong>
                    <div class="float-right">
                      <a class="btn btn-primary btn-sm icon-btn" href="{{ path('vente_new')}}">
                        <i class="fa fa-plus"></i>Nouvelle Vente
                      </a>
                    </div>
                </div> -->
                <div class="card-body" >

                  <div class="table-responsive">
                  <table id="example" class="table table-striped table-bordered w-100 tableVente">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Fournisseur</th>
                            <th >Date d'arrivée</th>
                            <th style="width:180px!important" >Quantite / Stock</th>
                            <th > Prix Unitaire </th>
                            <th >Montant</th>
                            <th style="width:28px!important"></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for element in form.elementsVente %}
                        {% if( date( attribute(vente.elementsVente,loop.index0).elementArrivage.arrivage.dateCreation ) > date('-'~newDatesNb~'days') )%}
                          {% set class = 'a' %}
                        {% else %}
                          {% set class = '' %}
                        {% endif %}

                        <tr class="{{class}}" >
                            <td>
                              {{ attribute(vente.elementsVente,loop.index0).elementArrivage.produit.name }}
                              {% if( class != '' ) %}
                                  <span class="badge badge-info">New</span>
                              {%endif%}
                            </td>
                            <td>
                              {{ attribute(vente.elementsVente,loop.index0).elementArrivage.arrivage.fournisseur.name }}
                            </td>
                            <td>
                              {{ attribute(vente.elementsVente,loop.index0).elementArrivage.arrivage.dateCreation|date('Y-m-d') }}
                            </td>
                            <td>
                              {% set quantiteRestante = attribute(vente.elementsVente,loop.index0).elementArrivage.quantiteRestante %}
                              {% set quantite = attribute(vente.elementsVente,loop.index0).quantite %}
                                {% set max = quantite + quantiteRestante %}
                                <div class="input-group">
                                  {{ form_widget(element.quantite, {'attr': {'class': 'form-control quantite','max': max, 'min':0 }}) }}
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      / {{ quantiteRestante }}
                                    </span></div>
                                </div>

                            </td>
                            <td>

                              <div class="input-group  w-230">
                                {{ form_widget(element.prixUnit, {'attr': {'class': 'form-control prixUnit'}}) }}
                                <div class="input-group-append">
                                  <span class="input-group-text w-115">
                                    > {{ attribute(vente.elementsVente,loop.index0).elementArrivage.prixUnit | number_format(0, '.', ' ') }} D
                                  </span></div>
                              </div>

                            </td>
                            <td data-name="sel">
                              {{ form_widget(element.montant, {'attr': {'class': 'form-control montant', 'readonly':'readonly'}}) }}
                            </td>
                            <td>
                              <button class="btn btn-danger item row-remove disabled d-none" type="button">
                                <i class="fa fa-close"></i>
                              </button>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                          <input type="text" id="montant" class="form-control" readonly="readonly" value="{{vente.montant}}">
                        </td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                  </div>

                </div>
            </div>
        </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->


<hr />
{#
<div class="form-group">
  {{ form_label(form.note, null,
  { 'label_attr': {'class': 'font-weight-bold'} }) }}
  {{ form_widget(form.note ,{'attr': {'class': 'form-control'} }) }}
</div>
#}
